header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(picture/Bőrradír2.jpg);
    background-position: center;
}

.cim{
    display: flex;
    color: rgb(54, 53, 53);
    text-shadow: 0px 0px 10px rgb(black);
    align-items: center;
    justify-content: center;
}

.call-btn{
    display: flex;
    width: 200px;
    height: 100px;
    border-radius: 20%;
    border: 5px 5px 5px solid black;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
}

button {
    border:3px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #cfc6bb,#e6ded6);
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}